body{
  font-family: Helvetica;
  text-align: center;
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.nav{
  background-image: url("../images/the-flatiron-building.png");
}

.nav p, .nav a{
  font-size: 18px;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

.design{
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.footer{
  background-color: dimgray;
  color: white;
  text-align: left;
}

.broadfoot{
  font-size: 11px;
}
